.aso-app {
  max-width: var(--grid-container-width);
  margin: 64px auto;

  p {
    margin: 0;
  }

  .block-header {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
    color: #2c2c2c;
    border-bottom: 3px solid #2c2c2c;
    padding-bottom: 12px;
  }

  .label {
    font-weight: 700;
  }

  .data-row {
    background-color: #efefef;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 24px;
  }

  .note {
    color: #fff;
    background-color: rgb(0, 163, 68);
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 12px;

    &.error {
      background-color: rgb(199, 36, 36);
    }

    &.info {
      background-color: rgb(20, 115, 230);
    }
  }
}
